body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

.card {
    background: #fff;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.tabelas {
    margin-top: 20px;
}

table {
    width: 100%;
    margin-bottom: 30px;
}